Dean Hamstead <djzort@cpan.org> <dean@fragfest.com.au>
Dean Hamstead <djzort@cpan.org> <dean.hamstead@staples.com.au>
Dmitri Tikhonov <dmitri@cpan.org> <dtikhonov@live.com>
Dmitri Tikhonov <dmitri@cpan.org> <dtikhonov@yahoo.com>
Dmitri Tikhonov <dmitri@cpan.org> <dtikhonov>
Marco Pessotto <melmothx@gmail.com>
Sarvesh D <sarveshd@openmailbox.org> <srvsh@users.noreply.github.com>
Abhijit Menon-Sen <ams@wiw.org> <anonymous@nomail.tld>
